@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">About</div>
    <div class="panel-body">
        <div class="row">
            <div>
                High School, University and young students constitute the majority of people who study formally the Japanese language.
                Japanese language students are primarily interested in the culture, possibly take a trip to Japan and take a certification in the JLPT.
            </div>
            <div>
                <br />
                Students have to keep practicing and drawing Kanjis all the time. Students often confuse themselves because they don't practice enough.
                
            </div>
            <div>
                <br />
                Mobile phones and tablets offer a great potential to help students keep practicing their drawings.
            </div>
        </div>
    </div>
</div>

@section csshead {
}

@section scripts{
   

}