@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>kanji-Cat-Developers</h3>

<address>
    <strong>Jose Rocha</strong>   <a href="https://www.linkedin.com/in/joserochavidrio">https://www.linkedin.com/in/joserochavidrio</a><br />
</address>